@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* share style */
.display-flex{
    display: flex;
    align-items: center;
}
.text-primary{
    color: #FD6E0A;
    
}
.dark-2{
    color: #474747;

}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    border: none;
    font-size: 20px;
    height: 64px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
}

/* header section */

.header{
display: flex;
justify-content: space-between;

}
.list{
   margin: 10px 20px;
   text-decoration: none;
}
nav ul li{
    list-style: none;
}