@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* share style */
.display-flex{
    display: flex;
    align-items: center;
}
.text-primary{
    color: #FD6E0A;
    
}
.dark-1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
}
.dark-2{
    font-size: 45px;
    font-weight:600 ;
    color: #474747;
}
.dark-3{
    font-size: 18px;
    color: #757575;
}

.btn-primary{
    background-color: #FD6E0A;
    color: white;
    border: none;
    font-size: 20px;
    height: 54px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
}

/* nav section */
.header{
    padding: 0 70px 0 200px;
    background-color: #FFF8F3;
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right ;
}
.nav{
    display: flex;
    justify-content: space-between;

}
.list{
    font-size: 25px;
    margin: 10px 20px;
    text-decoration: none;
    color: #474747;
}
nav ul li{
    list-style: none;
}

/* header section */
.details{
    display: flex;
    justify-content: space-between;
}
.image-size{
    height: 676px;
    width: 584;
}

/* About Me section */

.about{
    margin: 230px;
    padding: 100px 100px;
    background-color: #FFF8F3;
 
}
.about-list{
    list-style: none;
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

main h2{
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

main ul li{
    margin: 20px;
    padding: 10px;
    justify-content: space-around;
}

/* Do section */

.Do{
    margin: 230px;
    text-align: center;
}
.skills-container{
    display: flex;
    margin-top: 50px;
    gap: 24px;
}
.skill{
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}